<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gomi.name %>
</p>

<p>
  <strong>Every:</strong>
  <%= @gomi.every %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @gomi.start_date %>
</p>

<p>
  <strong>Mon:</strong>
  <%= @gomi.mon %>
</p>

<p>
  <strong>Tues:</strong>
  <%= @gomi.tues %>
</p>

<p>
  <strong>Wed:</strong>
  <%= @gomi.wed %>
</p>

<p>
  <strong>Thurs:</strong>
  <%= @gomi.thurs %>
</p>

<p>
  <strong>Fri:</strong>
  <%= @gomi.fri %>
</p>

<p>
  <strong>Sat:</strong>
  <%= @gomi.sat %>
</p>

<p>
  <strong>Sun:</strong>
  <%= @gomi.sun %>
</p>

<p>
  <strong>User:</strong>
  <%= @gomi.user_id %>
</p>

<%= link_to 'Edit', edit_gomi_path(@gomi) %> |
<%= link_to 'Back', gomis_path %>
