<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <!--      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
-->
          <% @user.errors.full_messages.each do |message| %>
              ・<%= message %>
              <br>
          <% end %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name, "username" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password, "password" %><br>
      <%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation,"password_confirmation" %><br>
      <%= f.text_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :pushtime %><br>
      <%= f.time_select :pushtime %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
