<p id="notice"><%= notice %></p>

<h1>Gomi</h1>

<% if @errors.any? %>
    <div id="error_explanation">

      <% @errors.each do |message| %>
          ・<%= message %>
          <br>
      <% end %>
    </div>
<% end %>

<div class="form_container">
  <p><font color="red"><%= flash[:alert] %></font></p>
  <%= bootstrap_form_for @user, :layout => :horizontal, :url => :login, label_col: "col-sm-2", control_col: "col-sm-10" do |f| %>

        <%= f.text_field :name , label:"Name"%>

        <%= f.text_field :password, label:"Password"%>

      <div class="col-sm-offset-4">
            <%= f.submit "ログイン" , class: "btn btn-default col-sm-4"%>
            <%= link_to "登録", new_user_path, class:"btn btn-default col-sm-4"%>
      </div>
  <% end %>
</div>
<br>
