<p id="notice"><%= notice %></p>

<h1>Gomi</h1>

<p><font color="red"><%= flash[:alert] %></font></p>
<%= form_for @user, :url => :login do |f| %>
    <%= f.text_field :name %>

    <%= f.submit "ログイン" %>

    <%= submit_tag "登録" , name: "regist" %>

<% end %>

<br>
